
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Item Catalog</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/css/site.css">
  </head>
<!--The main page layout-->
  <body >
    <header>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Catalog App</strong>
          </a>
          {% if 'username' in login_session %}
          <button class="logout_button" onclick="window.location.href='{{url_for('gdisconnect')}}'">Logout</button>
          {% else %}
          <button class="login_button" onclick="window.location.href='{{url_for('showlogin')}}'">Login</button>
          {% endif %}
          
        </div>
      </div>
    </header>
    

    <main>

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Item Catalog</h1>
          <p class="lead text-muted">This site lets you create , edit , delete and view multible itme categories of sports </p>
          <p>
            <a href="#" class="btn btn-primary my-2" onclick="window.location.href='{{url_for('newitem')}}'">Create new item</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="javascript:void(0)" onclick="filterSelection('all')">All</a>
          <a href="javascript:void(0)" onclick="filterSelection('Football')">Football</a>
          <a href="javascript:void(0)" onclick="filterSelection('Basketball')">Basketball</a>
          <a href="javascript:void(0)" onclick="filterSelection('Baseball')">Baseball</a>
          <a href="javascript:void(0)" onclick="filterSelection('Frisbee')">Frisbee</a>
          <a href="javascript:void(0)" onclick="filterSelection('Snowboarding')">Snowboarding</a>
          <a href="javascript:void(0)" onclick="filterSelection('Rock Climbing')">Rock Climbing</a>
          <a href="javascript:void(0)" onclick="filterSelection('Skating')">Skating</a>
          <a href="javascript:void(0)" onclick="filterSelection('Hockey')">Hockey</a>
          <a href="javascript:void(0)" onclick="filterSelection('Swimming')">Swimming</a>
          <a href="javascript:void(0)" onclick="filterSelection('Soccer')">Soccer</a>
          <a href="javascript:void(0)" onclick="filterSelection('other')">other</a>
        </div>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; category</span>

        <div class="container">
          <div class="row">
            {% for i in items %}
            <div class="col-md-4  filterDiv {{i.category}}" id="{{i.category}}">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{url_for('send_img',filename=i.img_path)}}" alt="Item">
                <div class="card-body">
                  <p class="card-text" style="display:inline-block; max-width:60%">{{i.name}}</p>
                  <p style="float:right;">{{i.category}}</p>
                  
                  <div class="d-flex justify-content-between align-items-center" style="flex-wrap: wrap-reverse;">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='{{url_for('viewitem',id=i.id)}}'">View</button>
                      {% if 'username' in login_session and i.user_email==login_session['email']%}
	                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='{{url_for('edititem',id=i.id)}}'">Edit</button>
	                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='{{url_for('deleteitem',id=i.id)}}'">Delete</button>
	                  {% endif %}    
                    </div>
                    <small  class="text-muted" >{{i.views}} views</small>
                    <script>
                    ourDate = new Date("{{i.created_at}}");
                    x=ourDate.getTimezoneOffset()
                    ourDate.setTime(ourDate.getTime() - x*60000);
                    var options = { year: 'numeric', month: 'long', day: 'numeric' ,hour:"2-digit",minute:"2-digit"};
                    document.write(
                    ourDate.toLocaleString("en-US", options));
                  </script>
                  </div>
                </div>
              </div>
            </div>
            {% endfor%}
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Contact us at amr.elkady153@gmail.com</p>
      </div>
    </footer>


    <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    </script>
    <!-- javascript to filter categories -->
    <script>
	function filterSelection(c) {
	  var x, i;
	  x = document.getElementsByClassName("filterDiv");
	  
	  for (i = 0; i < x.length; i++) {
	    x[i].style.display="none";
	    if (x[i].id==c){
	    	x[i].style.display="block";
	    }
	    if(c=="all"){
	    	x[i].style.display="block";
	    }
	  }
	}
	</script>

  </body>
</html>
